<div class="container-fluid" [@fadeInOut]>
    <div *ngIf="isHome == true">
        <h1 class="card-title">
            KNOWLEDGE &nbsp; <span id="text-secondary">IS</span> POWER
        </h1>
        <h5 class="card-subtitle mb-2">STAY CLEVER <span id="text-white">TODAY</span>, CHANGE THE WORLD <span
                id="text-white">TOMORROW</span>.</h5>
        <br />
        <br />

        <div *ngIf="isContact == true">
            <h1>
                CONTACT &nbsp; <span id="text-secondary">US</span>
            </h1>
            <h4>
                +91&nbsp;&nbsp;&nbsp;7020008480&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;contact@todos.com
            </h4>
        </div>
    </div>
</div>